ul li {
    list-style: none;
  }

.container {
    background-color: #47000A;
    color: #BCBCD0;
    margin: 10px;
    border-radius: 70px;
    width: 50%;
    padding: 30px;
}

h2 {
    text-align: center;
    color: #BCBCD0;

}
